<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HIthere</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./Stylesheet/mainpage.css">
</head>
<body>
    
    <p style="color: blue;">This is java class</p>
    <h1 style="background-color: blue; color: brown; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Hit here </h1>
    <div>
        <form action="get">
            <div> 
                <i class="fa fa-male" aria-hidden="true" ></i>
                <input type="text" name="myname" id = "input">
            </div>
        </form>
    </div>
</body>
</html>