<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../JavaScript/javascript.js"></script>
</head>
<body>
    <table id="sampleTable" border="1" style="color: green;">
        <tr>
            <td>Name</td>
            <td>Roll No</td>
            <td>Mark</td>
            <td>Mark2</td>
        </tr>
        <tr>
            <td>SANAT SURYA MALLICK</td>
            <td>ESC202204JAVA09</td>
            <td>600</td>
            <td>600</td>        
        </tr>
    </table>
    <input type="button" onclick="insert_Row()" value="Insert row">
</body>
</html>