form{
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    align-items: center;
    align-content: center;
}
form.legend{
    align-items: center;
    align-content: center;
}
body{
    height: 0px;
    width: 0px;
    box-sizing: border-box;
}