<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>The html address defines contact information (Author owner of a admin)</p>
    <address>
        write by sanat <br>
        write for contact <br>
        about main contnet of the basics <br>
        about your basics of the class <br>
    </address>
</body>
</html>